<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>CLINICA</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body class="card-body">
	<div class="card text-white bg-warning mb-3">
		<nav class="navbar navbar-expand-lg navbar navbar-dark bg-warning">
			<a class="navbar-brand" th:href="@{/PacienteView}" role="button">Ver todos los pacientes.</a>
			<a class="navbar-brand" th:href="@{/searchPacienteByView}" role="button">Buscar paciente.</a>
			<a class="navbar-brand" th:href="@{/newPacienteView}" role="button">Añadir paciente.</a>
		</nav>

		<nav class="navbar navbar-expand-lg navbar navbar-dark bg-warning">
			<a class="navbar-brand" th:href="@{/MedicoView}" role="button">Ver todos los medicos.</a>
			<a class="navbar-brand" th:href="@{/searchMedicoByView}" role="button">Buscar medicos.</a>
			<a class="navbar-brand" th:href="@{/newMedicoView}" role="button">Añadir medico.</a>
		</nav>

		<nav class="navbar navbar-expand-lg navbar navbar-dark bg-warning">
			<a class="navbar-brand" th:href="@{/IngresoView}" role="button">Ver todos los ingresos.</a>
			<a class="navbar-brand" th:href="@{/searchIngresoPacByView}" role="button">Buscar ingresos de Paciente.</a>
			<a class="navbar-brand" th:href="@{/searchIngresoMedByView}" role="button">Buscar ingresos de Medico.</a>
			<a class="navbar-brand" th:href="@{/newIngresoView}" role="button">Añadir ingresos.</a>
		</nav>
	</div>
	<br>

	<div class="card text-white bg-danger mb-3"> <!-- style="max-width: 18rem;" -->
		<div class="card-header">Error</div>
		<div class="card-body">
			<h5 class="card-title">Acción fallida:</h5>
			<p class="card-text" th:text="${errorMsg}" />
		</div>
	</div>
</body>

</html>