<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>CLINICA - LISTAR PACIENTES</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body class="card-body">
	<div class="card text-white bg-warning mb-3">
		<nav class="navbar navbar-expand-lg navbar navbar-dark bg-warning">
			<a class="navbar-brand" th:href="@{/PacienteView}" role="button">Ver todos los pacientes.</a>
			<a class="navbar-brand" th:href="@{/searchPacienteByView}" role="button">Buscar paciente.</a>
			<a class="navbar-brand" th:href="@{/newPacienteView}" role="button">Añadir paciente.</a>
		</nav>

		<nav class="navbar navbar-expand-lg navbar navbar-dark bg-warning">
			<a class="navbar-brand" th:href="@{/MedicoView}" role="button">Ver todos los medicos.</a>
			<a class="navbar-brand" th:href="@{/searchMedicoByView}" role="button">Buscar medicos.</a>
			<a class="navbar-brand" th:href="@{/newMedicoView}" role="button">Añadir medico.</a>
		</nav>

		<nav class="navbar navbar-expand-lg navbar navbar-dark bg-warning">
			<a class="navbar-brand" th:href="@{/IngresoView}" role="button">Ver todos los ingresos.</a>
			<a class="navbar-brand" th:href="@{/searchIngresoPacByView}" role="button">Buscar ingresos de Paciente.</a>
			<a class="navbar-brand" th:href="@{/searchIngresoMedByView}" role="button">Buscar ingresos de Medico.</a>
			<a class="navbar-brand" th:href="@{/newIngresoView}" role="button">Añadir ingresos.</a>
		</nav>
	</div>
	<br>

	<div class="card text-white bg-info mb-3">
		<div class="card-header">Pacientes</div>
		<div class="card-body">
			<table class="table table-striped table-info">
				<thead class="thead-light">
					<tr>
						<th scope="col">ID de paciente</th>
						<th scope="col">Nombre</th>
						<th scope="col">Apellido</th>
						<th scope="col">Fecha Nacimiento</th>
						<th scope="col">Teléfono</th>
						<th scope="col">Dirección</th>
						<th scope="col">Provincia</th>
						<th scope="col">Código Postal</th>
						<th scope="col" th:hidden="${btnDropPacienteEnabled}">Borrar</th>
						<th scope="col" th:hidden="${btnUpdatePacienteEnabled}">Actualizar</th>
					</tr>
				<tbody>
					<th:block th:each="paciente : ${PacientesListView}">
						<tr>
							<td scope="row" th:text="${paciente.paciente_id}" />
							<td scope="row" th:text="${paciente.name}" />
							<td scope="row" th:text="${paciente.surname}" />
							<td scope="row" th:text="${paciente.fecna}" />
							<td scope="row" th:text="${paciente.phone}" />
							<td scope="row" th:text="${paciente.address}" />
							<td scope="row" th:text="${paciente.province}" />
							<td scope="row" th:text="${paciente.pc}" />
							<td scope="row" th:hidden="${btnDropPacienteEnabled}">
								<form action="actDropPaciente" method="post">
									<button th:disabled="${btnDropPacienteEnabled}" type="submit"
										id="btnDropPaciente" name="pacienteId" th:value="${paciente.paciente_id}"
										class="btn btn-danger">✕</button>
								</form>
							</td>
							<td scope="row" th:hidden="${btnUpdatePacienteEnabled}">
								<form action="updatePacienteView">
									<button th:disabled="${btnUpdatePacienteEnabled}" type="submit"
										id="btnUpdatePaciente" name="pacienteId" th:value="${paciente.paciente_id}"
										class="btn btn-danger">↻</button><!--&emsp;&emsp;&ensp;-->
								</form>
							</td>
						</tr>
					</th:block>
				</tbody>
				</thead>
			</table>
		</div>
	</div>
</body>

</html>