<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>CLINICA - LISTAR MEDICOS</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body class="card-body">
	<div class="card text-white bg-warning mb-3">
		<nav class="navbar navbar-expand-lg navbar navbar-dark bg-warning">
			<a class="navbar-brand" th:href="@{/PacienteView}" role="button">Ver todos los pacientes.</a>
			<a class="navbar-brand" th:href="@{/searchPacienteByView}" role="button">Buscar paciente.</a>
			<a class="navbar-brand" th:href="@{/newPacienteView}" role="button">Añadir paciente.</a>
		</nav>

		<nav class="navbar navbar-expand-lg navbar navbar-dark bg-warning">
			<a class="navbar-brand" th:href="@{/MedicoView}" role="button">Ver todos los medicos.</a>
			<a class="navbar-brand" th:href="@{/searchMedicoByView}" role="button">Buscar medicos.</a>
			<a class="navbar-brand" th:href="@{/newMedicoView}" role="button">Añadir medico.</a>
		</nav>

		<nav class="navbar navbar-expand-lg navbar navbar-dark bg-warning">
			<a class="navbar-brand" th:href="@{/IngresoView}" role="button">Ver todos los ingresos.</a>
			<a class="navbar-brand" th:href="@{/searchIngresoByView}" role="button">Buscar ingresos.</a>
			<a class="navbar-brand" th:href="@{/newIngresoView}" role="button">Añadir ingresos.</a>
		</nav>
	</div>
	<br>

	<div class="card text-white bg-info mb-3">
		<div class="card-header">Medicos</div>
		<div class="card-body">
			<table class="table table-striped table-info">
				<thead class="thead-light">
					<tr>
						<th scope="col">ID de medico</th>
						<th scope="col">Nombre</th>
						<th scope="col">Apellido</th>
						<th scope="col">Teléfono</th>
						<th scope="col">Especialidad</th>
						<th scope="col" th:hidden="${btnDropMedicoEnabled}">Borrar</th>
						<th scope="col" th:hidden="${btnUpdateMedicoEnabled}">Actualizar</th>
					</tr>
				<tbody>
					<th:block th:each="medico : ${MedicosListView}">
						<tr>
							<td scope="row" th:text="${medico.medico_id}" />
							<td scope="row" th:text="${medico.name}" />
							<td scope="row" th:text="${medico.surname}" />
							<td scope="row" th:text="${medico.phone}" />
							<td scope="row" th:text="${medico.especialidad}" />
							<td scope="row" th:hidden="${btnDropMedicoEnabled}">
								<form action="actDropMedico" method="post">
									<button th:disabled="${btnDropMedicoEnabled}" type="submit"
										id="btnDropMedico" name="medicoId" th:value="${medico.medico_id}"
										class="btn btn-danger">✕</button>
								</form>
							</td>
							<td scope="row" th:hidden="${btnUpdateMedicoEnabled}">
								<form action="updateMedicoView">
									<button th:disabled="${btnUpdateMedicoEnabled}" type="submit"
										id="btnUpdateMedico" name="medicoId" th:value="${medico.medico_id}"
										class="btn btn-danger">↻</button><!--&emsp;&emsp;&ensp;-->
								</form>
							</td>
						</tr>
					</th:block>
				</tbody>
				</thead>
			</table>
		</div>
	</div>
</body>

</html>